---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BounceImage from "../components/BounceImage.astro";
import "../Styles/Buttons.css";
import "../Styles/Rainbow.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-pink-200">
    <Header />
    <div class="h-16 bg-transparent"></div>
    <div class="flex-grow">
        <!-- Texto grande -->
        <h1 class="font-Honk text-8xl font-bold text-center text-white mt-16 mb-8 z-10">Step into Style</h1>
        
        <!-- Texto más pequeño -->
        <p class="text-black rainbow-text font-bold text-xl font-medium text-center text-white mb-8 z-10 relative">
          Let's take a look at some art from our artists on the platform, and see the trending tags on the platform
        </p>
        
        <!-- Botones -->
        <div class="flex justify-center space-x-2 z-10 relative">
            <button class="px-6 py-3 text-white font-semibold rounded-lg bg-blue-500 hover:bg-blue-600 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400 h-14 float-up">
                Inktober
            </button>
            <button class="px-6 py-4 text-white font-semibold rounded-lg bg-blue-500 hover:bg-blue-600 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400 h-16 float-up">
                ToonMe
            </button>
            <button class="px-6 py-2 text-white font-semibold rounded-lg bg-blue-500 hover:bg-blue-600 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400 h-12 float-up">
                DTIYS
            </button>
            <button class="px-6 py-5 text-white font-semibold rounded-lg bg-blue-500 hover:bg-blue-600 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-400 h-20 float-up">
                Art vs Artist
            </button>
            
        </div>
    </div>
    <div class="mb-16">
        <BounceImage />
    </div>
    <Footer />
  </body>
</html>
